<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('./partials/head.ejs') %>
</head>

<body>
<div class="wrapper">
    
<form id="form" method="GET" action="/user/">
    <p>
        <input name="twitter_handle" type="text" class="feedback-input" placeholder="Twitter Handle" id="submit-box"/>
    </p>
  
    <div class="home-submit">
        <input type="submit" value="SUBMIT" id="home-button"/>
        <div class="ease"></div>
    </div> 

</form>  

</div>   
</body>

</html>